body{
	margin: 0px;
}
a{
	text-decoration: none;
	color: white;
}
#logo-div{
	float: left;
	font-size: 25px;
	color: white;
	padding: 7px 0px;
}
#container{
	width: 1000px;
	margin: 15px auto 0px auto;
	box-shadow: 1px 0px 10px -1px;
	padding: 10px;
	min-height: 500px;
}
#menu{
	float: right; 
}
#menu li{
	float: left;
	padding: 5px 10px;
	text-transform: uppercase;
}
#header-wrapper{
	width: 100%;
	background-color: #3299BB;
	height: 45px;
}
#header-inner{
	width: 1150px;
	margin: 0 auto;
}
.table td{
	padding: 0px 10px;
}
tr.odd{
	background-color: #ccc;
}
button.delete {
    position: absolute;
    right: 0;
    bottom: 0;
}
#photos .photo {
    position: relative;
    display: inline-block;
}