button.invitefriends {
    padding: 5px 10px;
    margin: 5px;
}
.mini_profile .loader{
	background: white url(../img/loading.gif);
	height: 32px;
	width: 32px;
	box-shadow: #999 1px 1px 5px;
	border-radius: 10px;
}
.invite-bubble {
    position: absolute;
    top: 40px;
    right: 228px;
    width: 145px;
    text-align: center;
    background: white;
    box-shadow: #999 0px 0px 8px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #aaffaa;
    z-index: 10;
}
#fiends-list {
    height: 270px;
    overflow-y: auto;
    width: 640px;
}
#fiends-list li {
    width: 300px;
    float: left;
}
#fiends-list li span {
    font-size: 14px;
    display: inline-block;
    position: relative;
    top: -10px;
    left: 7px;
	width: 185px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#fiends-list li input[type="checkbox"] {
    top: -10px;
    position: relative;
}
i.active, i.idle {
    position: relative;
    top: -10px;
    font-size: 20px;
    left: 4px;
}
i.active {
    color: #66dd66;
}
i.idle {
    color: #dd6;
}
button {
    border-radius: 5px;
    bordeR: none;
    background: #77f;
    color: white;
    font-size: 10px;
    padding: 3px 10px;
    margin-left: 54px;
}