
#signup {
    height: 100%;
    padding: 0;
    margin: 0;
}
#signup label {
	width: 154px;
	display: inline-block;
	text-align: right;
	color: white;
	font-size: 18px;
	margin-right: 5px;
}
#init-loader {
    background: #fff;
    padding: 14px;
    height: 158px;
	display: none;
}
#init-loader p {
    margin: 20px 0 0;
	
    font-size: 14px;
    text-align: center;
}
#init-loader .loader {
    text-align: center;
    margin-top: 20px;
}
i.loader {
    background: url('../img/loader.gif');
    display: inline-block;
    height: 11px;
    width: 43px;
    position: relative;
    top: 1px;
    margin: 1px 4px 3px;
}


body{
margin:0;
color: black;
font-size: 18px;
background-color: black;
font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
h1{
	font-size: 18px;
}
p{
	font-size: 16px;
}
#page_container .photocollage {
float: left;
margin: 0;
padding: 0;
line-height: 0;
}
#windowSize{
	width: 100%;
	position: fixed;
	background: black;
}
#blur {
height: 100%;
width: 100%;
position: fixed;
top: 0;
background: rgba(255,255,255,0.4);
z-index: 800;
}
#welcome-box {
width: 440px;
height: 420px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
background: white;
padding: 0px;
box-shadow: rgb(32,64,128) 0px 0px 11px 1px;
}
#welcome-box #intro{
	width: 390px;
	margin: 20px;
	padding: 5px;
	float:left;
}
#welcome-box #intro #logo{
	width: 85px;
	height: 85px;
	float: left;
	margin: 0 10px 5px 0;
}
#get-started {
	float: right;
	width: 420px;
	height: 380px;
	background: #3894e7;
	overflow: hidden;
	display: none;
	padding: 20px;
}
#signup input {
    padding: 7px 6px 6px;
    border: none;
    width: 200px;
}
#signup div {
    margin: 3px;
}
#signup-button{
background: rgba(128,255,32,0.75) !important;
font-size: 14px;
padding: 5px 10px 5px;
display: block;
margin: 2px 58px 0 0;
cursor: pointer;
color: white;
border: 1px solid white;
font-weight: bold;
float: right;
position: relative;
height: 34px;
text-align: left;
}
h2 {
    color: white;
    font-size: 20px;
    border-bottom: 1px white solid;
    width: 230px;
    padding-bottom: 5px;
    margin: 2px 0 30px;
}
#signup-button img {
    position: absolute;
    top: 0;
    right: 0;
}