/*@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-BolIta.ttf");
	font-weight: bold;
	font-style: italic, oblique;
}
@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-RegIta.ttf");
	font-style: italic, oblique;
}
@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Bol.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Reg.ttf");
}
*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #E9E9E9;
	line-height: 20px;
}

body {
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
#bottom-bar, #push {
    height: 30px;
}
#mainContent h1,
#public-profile #profile_name span {
	font-size: 25px;
	font-weight: normal;
	margin:5px 0 0;
	color: rgba(0,0,0,0.8);
}
html, body {
    height: 100%;
    /*font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;*/
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
}
input:focus {
	outline: none;
}
#bottom-bar {
	text-align:left;
}
.chat-window .peer_info{
	height: 56px;
}
button:focus {
outline: none;
}
#mainWrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
	background: white;
}

#topControl {
	height: 50px;
	background: url(../img/repeat-x-sprite.png) repeat-x;
	position: fixed;
	width: 100%;
	z-index: 997;
}
#logo{
	background: url(../img/logo.png) no-repeat;
	width: 251px;
	height: 88px;
	display: block;
}

#sideMenu {
	min-height: 100%;
	width: 277px;
	background: #BCBCBC;
	float: left;
	margin-right: 10px;
}

#home-anchor {
	font-size: 24pt;
font-weight: bold;
width: 250px;
text-align: center;
float: left;
margin: 4px 0px 0 35px;
display: inline-block;
}

#home-anchor a {
	text-decoration: none;
	color: #E9E9E9;
}

#content {
	height: 100%;
	padding: 5px;
	margin-right:42px;
}

#mainContent {
	height: 100%;
	width: 980px;
	margin: 75px auto 0;
}

/*#profile-photo {
	height: 150px;
	width: 150px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	float: left;
	border: 1px solid #BCBCBC;
}

#user-fullname {
	margin: 0;
	margin-top: 20px;
	font: 24pt segoe ui 'sans-serif';
	color: #424242;
} */

#user-info {
	float: right;
}

#profile-photo {
	height: 35px;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 2px;
	border: 2px white solid;
	cursor: pointer;
}

#user-fullname {
	float: left;
	margin: 0;
	margin-top: 13px;
	font-size: 10pt;
	font-weight: bold;
	color: #e9e9e9;
	font-size: 17px;
	text-shadow: #2075be 1px 1px 1px;
	margin-right: 15px;
	cursor: pointer;
}

#account-menu {
	float: right;
}

#btn-logout {
	margin-top: 13px;
}

#search-engine {
	margin-left: 10px;
	margin-top: 10px;
}

#city {
	width: 252px;
}

#find-btn {
	float: right;
	margin-right: 11px;
}

.each-result {
	float: left;
	margin: 0;
	margin-top: 10px;
	width: 350px;
	height: 110px;
}

.search-pic {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 4px;
}

.search-result-name {
	margin: 0;
	margin-top: 6px;
	font-size: 14pt;
	color: #3299bb;
	font-weight: bold;
}

.search-result-name:hover {
	text-decoration: underline;
	cursor: pointer;
}

/************************************************/
#popup_box { 
    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:425px;  
    width:700px;  
    background:#FFFFFF;  
    left: 300px;
    top: 99px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
    
    /* additional features, can be omitted */
    border:2px solid #3299bb;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #3299bb;
    -webkit-box-shadow: 0 0 5px #3299bb;
    box-shadow: 0 0 5px #3299bb;
    
}

#container {
    background: #000; /*Sample*/
	position: fixed;
    width:100%;
    height:100%;
	display: none;
}

a{  
cursor: pointer;  
text-decoration:none;  
} 

#account-menu-button, #notification-button{
	width: 15px;
	float: left;
	padding: 20px 1px;
	cursor: pointer;
	color: white;
	font-size: 14px;
	height: 100%;
	border-left: 1px #2b74bf solid;
	text-shadow: #666 1px 1px;
}
#account-menu-button #arrow{
	background: url('../../assets/img/arrows.png');
	width: 15px;
	height: 10px;
}
#account-menu-button #arrow.arrowup{
	background-position: 0px -14px;
}
#account-menu-button #arrow.arrowdown{
	background-position: 0px -5px;
}
#user-info .list{
	margin-left: -132px;
	width: 151px;
	background-color: #2b74bf;
	position: absolute;
	top: 50px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
}
#user-info .list#notification-list{ 
	margin-left: -200px;
	width: 219px;
}

#browse-menu-list{
	margin-left: -105px;
	width: 150px;
	background-color: white;
	position: absolute;
	top: 40px;
}
#user-info .list ul{
	padding-left: 0px;
	margin: 0px;
	background: #2e8ee1;
}
#user-info .list li{
	list-style: none;
	padding: 5px 10px;
}
#user-info .list li:hover {
	background: #7fbff8;
}
/* This is for the positioning of the Close Link */
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#3299bb;  
    font-weight:500;      
}

#random-people {
	padding: 10px;
}

.mCard {
	display:inline-block;
	width: 300px;
	background: white;
	padding: 9px;
	margin: 4px;
	position: relative;
	height: 75px;
	color: white;
}

.mCard .presenceIndicator {
height: 21px;
position: absolute;
bottom: 2px;
width: 75px;
background-image: url(../img/m-card-presence.png);
background-position: 2px -21px;
}

.mCard.online .presenceIndicator{
    background-position: 2px -1px;

}

.mCard[data-sex="f"] {
	background: #ffbbdd;
}
.mCard[data-sex="m"] {
	background: #bbddff;
}

.mCard .full-name{
	font: 16px;
	font-weight: bold;
	/*color: #3299bb;*/
	cursor: pointer;
	text-overflow: ellipsis;
	max-width: 145px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

.mCard .profile-pic {
	float: left;
	cursor: pointer;
	margin: 0 6px 0 0;
}

.mCard .profile-pic img {
	width: 75px;
	height: 75px;
	border: 0px solid #fff;
	margin: 0px;
}

.other-details {
	font-size: 11pt;
}

#current-location-bar-container {
	float: left;
	margin: 14px;
	background: white;
	width: 300px;
	margin-left: 84px;
}

#current-location-bar {
	border: 0;
	border-right: 1px solid #E9E9E9;
	width: 266px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 9pt;
}

#current-location-bar:focus {
	outline-width: 0;
}

.mCard .info {
    font-size: 12px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 216px;
	height: 55px;
}

.mCard .info span{
	width: 150px; 
	word-wrap: break-word; 
	display: inline-block;
}
.mCard .info img{
	width: 60px;
	height: 60px;
	float: right;
	position: absolute;
	top: -6px;
	right: 0;
}
.mCard .reveal {
	position: absolute;
	right: 6px;
	bottom: 3px;
}
.mCard .age {
    font-size: 14px;
	position: absolute;
	top: 0px;
	margin-left: 7px;
}
.mCard .profile-name {
	position: relative;
}
#bottom-bar .chat-bar {
	height: 30px;
	width: 150px;
	display: inline-block;
	background: blue;
}
.chat-bar .fullname {
	width: 114px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 5px;
	float: left;
}

#bottom-bar .chat-window {
    width: 300px;
    float: right;
    height: 330px;
    background: gray;
    top: -300px;
    position: relative;
	margin-left: 5px;
	border: 1px solid gray;
}
.chat-window .fullname {
	float: left;
	margin: 5px;
	width: 145px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}
.chat-window .peer_info button{
	position: relative;
	top: -33px;
}
.chat-window .messaging{
	display: inline-block;
	float: left;
	height:312px;
}
.video{
	width: 400px;
	height: 300px;
	float: left;
	margin-right: 5px;
	position: relative;
}
.video .my_video {
	bottom: 0;
	right: 0;
	position: absolute;
}
.video .peer_video {
	height: 100%;
	width: 100%;
	background: black;
}
.OT_video-container{
	background: none !important;
}
.messages .notice {
color: red;
text-align: center;
}
#bottom-bar .close {
	background: red;
	height: 20px;
	width: 20px;
	display: block;
	float: right;
	margin: 5px;
}
.chat-window .messages {
	height: 272px;
	width: 340px;
	overflow-y: auto;
	background: white;
}
.chat-window .message-to-send {
	width: 284px;
	margin: 5px 0 0;
	border: none;
}

.msg {
	padding: 5px 0;
	background: #eee;
}

.widget-container {
	width: 750px;
	height: 450px;
}

.widget-profile-picture {
	float: left;
	margin-right: 6px;
}

.widget-profile-picture img {
	border: 1px solid #e9e9e9;
}

.minor-details {
	font-size: 9pt;
}

p.widget-detail-label {
	margin: 0;
	font-weight: bold;
	float: left;
	margin-right: 2px;
}

.photo-gallery img {
	width: 100px;
	margin: 7px;
}

.photo-gallery {
	width: 747px;
	height: 200px;
	border: 1px solid #424242;
	float: left;
	background: #e9e9e9;
	overflow: auto;
}

#edit-profile-container {
	width: 820px;
	margin: 0 auto;
	padding: 1px 2px;
	
	background: white;
	//border: 1px solid #ddd;
}
.edit-form{
	width: 590px;
	margin: 0 auto;
}


.toggle-header h2{
	margin: 0 auto;
	font-size: 18px;
	color: #e9e9e9 ;
}
.toggle-header label {
	color: white;
	margin-left: 5px;
}
.toggle-header {
	height: auto;
	padding: 5px;
	position: relative;
	padding-left: 8px;
}
span.loader{
	position: absolute;
	top:3px;
	right:5px;
}
.toggle-header.active{
	//background: rgb(122, 185, 150);
}
.toggle-header:hover {
	cursor: pointer;
	color: #e9e9e9;
}
.box-header-icon{
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url('http://support.microsoft.com/library/images/support/en-us/20x20_grey_plus.png') no-repeat;
	background-size: 100% !important;
}
.active .box-header-icon{
	background: url('http://support.microsoft.com/library/images/support/en-us/20x20_grey_minus.png') no-repeat;
}
.box-buttons {
margin: 10px 0;
text-align: right;
}
.toggle-box {
	width: 810px;
	padding: 15px 5px 5px;
	display: none;
}

.toggle-box label {
	color: white;
	display: block;
}

.toggle-box select {
	
}

fieldset label {
    position: absolute;
    top: -15px;
    float: left;
    left: -1px;
}
fieldset {
    margin-top: 28px;
    position: relative;
    padding-top: 18px;
	
    margin-left: 2px;
	
    padding-left: 33px;
    border: 0;
}
textarea, input[type=text] {
	margin-bottom: 10px;
	padding: 3px;
	height:25px;

}

.toggle-box textarea {
	resize: none;
	width: 331px;
	height: 75px;
}

.toggle-box #year-select, 
#day-select, #month-select {
	width: auto !important;
}

ul#MainMenu {
    List-style: none;
	padding: 0;
	float: right;
	margin: 0;
	top: 21px;
	position: relative;
}
ul#MainMenu li {
display: inline-block;
color: white;
font-weight: bold;
margin: 0 -1px;
padding: 5px 12px 2px;
background: #9fc255;
top: 2px;
position: relative;
font-size: 15px;
}
ul#MainMenu .active {
background: white;
color: #888;
top: 0px;
padding: 4px 12px 5px;
font-size: 16px;
}
.notification {
	position: absolute;
	background: red;
	padding: 0px;
	border: 2px white solid;
	border-radius: 14px;
	height: 15px;
	font-size: 10px;
	width: 15px;
	text-align: center;
	line-height: 15px;
	top: -10px;
	right: 3px;
	font-weight: bold;
	box-shadow: #999 1px 1px;
	display: none;
	color: white;
}
.msg.received {
    background: white;
}
.chat-window {
    padding: 0;
    margin: 4px 0 0;
    width: 337px;
	overflow:hidden !important;
}
.msg .sender {
    width: 120px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
	float:left;
}

.msg .message {
	display: block;
	word-wrap: break-word;
	margin-left: 125px;
	width: 198px;
}
button.send {
	position: relative;
	right: 0px;
	width: 50px;
	margin: 0;
	height: 31px;
	top: -1px;
}
#leftBar {
    width: 180px;
	height: 100%;
	background: black;
	position: fixed;
	margin: 0;
	right: -146px;
	z-index: 0;
	padding-left: 10px;
}
#rightBar {
	width: 100px;
	height: 100%;
	position: fixed;
	margin: 0;
	left: 0;
	z-index: 0;
}
.contact-list img {
    width: 25px;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}
.bar-heading {
    margin: 5px auto 0;
	width:100px;
	font-weight: bold;
	color: white;
}
.contact-list span {
    color: white;
	vertical-align: middle;
	position: relative;
	top: -9px;
	margin-left: 5px;
	font-size: 14px;
	width: 112px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.contact-list li {
    display: block;
	cursor: pointer;
	margin: 2px 0;
}
.contact-list .online img {
    box-shadow: #ccffcc 0px 0px 7px 1px;
}
button {
	border: 1px white solid;
	cursor: pointer;
	font-weight: bold;
	color: white;
	padding: 5px 10px;
	margin: 5px;
	background: rgba(10,50,128,0.6);
	height: 28px;
}
i.presence {
	height: 8px;
	width: 8px;
	background-color: gray;
	display: inline-block;
	border-radius: 4px;
	border: 1px #aaa solid;
	position: relative;
	top: -6px;
	margin-left: 6px;
}
li.online i.presence {
	background: green;
	border: #00ff00 1px solid;
}
.cardOptions .button {
	display: block;
	text-align: center;
	border: 0;
	width: 30px;
	height: 30px;
	background: url(../img/matchup360-sprite.png);
	margin: 1px 0 0;
	cursor: pointer;
}

.cardOptions .button:hover {
background-color: rgba(0,0,0,0.2);
}

.mCard .unfollow {
    background-position: -28px 1px;
}
.mCard .follow {
    background-position: 3px 1px;
}
.mCard .chat {
    background-position: -56px 1px;
}
.mCard .last-seen {
	background-position: -86px 1px;
}
.mCard .cardOptions {
	text-align: right;
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: none;
	height: 93px;
	background: rgba(0,0,0,0.25);
	width: 31px;
}


#main{
	width:925px;
	margin: 0 195px 0 auto;
}

.user_column{
	width:300px;
	float:left;
}

.info_column{
	width:660px;
	float:right;
	margin-right:10px
}

#profile_name{
	width:300px;
	position: relative;
	text-align:center;
	margin: 8px auto;
}


#profile_pic{
	width:300px;
	position:relative;
	margin:25px auto 7px auto;

}

#profile_pic img{
	display: block;
	margin:0 auto;
}

#member_action {
	width: 200px;
	text-align:right;
	position:relative;
	margin: 20px auto;
}

#member_action ul{
	list-style-type:none;
	text-align:right;
}

.buttons{
	width: 164px;
	margin:0 auto;
}

.buttons  button{
	font-size:12px;
	font-weight:bold;
	color:white;
	background:#229922;
	width:200px;
	height:35px;
	margin: 5px auto;
	text-align:center;
	border:none;
	
}

.button-icon {
    position: absolute;
    height: 35px;
    width: 39px;
    right: 0;
    top: 0;
}
.user_column button {
    position: relative;
    text-align: left;
    margin: 2px auto;
    width: 164px;
}

.photos{
	float:left;
	margin:3px;
	background-color:black;
}

#user_photos img{
	max-width:120px;
	margin-bottom:-4px;
}

.content_header{
	width:610px;
	height:35px;
	background-color:#3894e7;
	
}

.info_content{
	width:590px;
}

.content_header h4{
	padding:5px;
	margin-left:5px;
	color:white;

}

h3{
	font-size:1.5em;
	font-weight:normal;
}

#prof_heading{
	width: 570px;
}

#prof_intro{
	width: 570px;
}

#prof_intro p{
	font: italic 1.09em/1.3em "Georgia", "Times New Roman", serif;
}
#my-photos-wrapper{
	width: 900px;
	margin: 0px auto;
}
#photos-container .photo-wrapper {
	display: inline-block;
	height: 250px;
	width: 250px;
	box-shadow: 0px 0px 1px black;
	overflow: hidden;
	margin: 2px 2px;
	background-position: 50% !important;
	background-size: 100% !important;
	position:relative;
}
#photos-container .photo{
	width: 200px;
}
#photos-action {
	float: right;
	margin: 0px 80px 10px 0px;
}
#photos-action .ui-button{
	padding: 5px 10px;
	box-shadow: 1px 1px 2px #999;
	background-color: #ccc;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 2px #999;
}
.photo-action-wrapper .delete-photo-btn,
#comment-box .delete-comment-icon, #notification-list .activity-notification-action{
	background: url(http://matchup360.com/assets/img/add-delete-edit-icons.png);
	width: 20px;
	height: 20px;
	display: block;
	background-position: -20px 0px;
	background-size: 1800%;
}
#comment-box .delete-comment-icon{
	top: 0;

	position: absolute;
	right: 0;
}
#message-threads .profile_pic{
	height: 40px;
}
#message-threads .name {
	font-weight: bold;
	position: absolute;
	margin-left: 5px;
	font-size: 12px;
}
#message-threads .thread {
	height: 40px;
	padding: 10px 10px;
	width: 239px;
	
}


#message-threads .thread.active{
//box-shadow: inset 0px 1px 6px 1px darkslategray;
background-color: #91d152;
}

#message-thread-container {
	float: left;
	width: 650px;
	//padding-left:3px;
	margin-left: 10px;
	box-shadow:0px 0px 1px black;
}
#messages-container{
	overflow-y: scroll;
	height: 390px;
	list-style-type: none;
	padding: 0px;
	margin: 0;
}
#textarea{
	height:140px; 
	background-color: #91d152;
}

#textarea .message-box{
	height: 75px;
	margin: 12px 12px 0 12px;
}

.send-button{
	float:right;
	margin-right:12px;
	width:80px;
	height:30px;
}

.message-wrapper{
	min-height: 40px;
	padding: 1px 0px 1px 5px;
	background-color:#bed267;
}
.message-wrapper p{
	margin: 0px;
	font-size:13px;
}
.message-wrapper .profile_pic{
	height: 35px;
	float: left;
	margin-top: 2px;
}
.message-wrapper .message{
	float: left;
	width: 480px;
	word-wrap: break-word;
	position: relative;
	font-size: 11px;
	margin-left: 10px;
	margin-right: 10px;
}
.message-wrapper .sent{
	display: block;
	font-size: 10px;
	color: white;
}
.peer_info img {
	padding: 1px;
	background: white;
	box-shadow: black 0px 0px 4px -1px;
	float: left;
}

.interest{
	width: 250px;
	display: inline-block;
}

.language{
	width:134px;
	display:inline-block;
}

.leftside{
	float:left;
	width:189px;
	clear:both;
}

.rightside{
	float:right;
	width:390px;
	margin-right: 64px;
}

#profile-heading{
	width:330px;
}

#hometown{
	width:330px;
}
.toggle{
font-family: sans-serif; 
font-weight:bold;
font-size: 16px;
}
.info_content table{
	font-size: 14px;
}

.content-label{
	text-align:right;
	width:150px;
	font-weight:bold;
	vertical-align: top;
}

#image-box{
	float:left;
	position: relative;
	line-height: 0;
}
#image-box img{
	max-width: 800px;
}
#image-box.random img{
	max-width: 620px;
}
#photo-wrapper{
	position: relative;
}
#photo-wrapper #next {
	position: absolute;
	z-index: 1;
	right: 0;
}
#photo-wrapper #like_count{
	font-size: 12px;
	float: left;
	line-height: 25px;
	margin-left: 2px;
}
#photo-wrapper #image-hover-div {
	color: white;
	bottom: 0px;
	position: absolute;
	width: 100%;
	background: rgba(1,1,1, 0.2);
	padding: 2px 0px;
	display: none;
}
#comment-box{
	float: right;
	width:350px;
}

#comments{
	width: 350px;
	margin:0 auto;
	overflow-y: auto;
	overflow-x: hidden;
}
#comments li{
	background-color: #bed267;
	padding:3px;
	width:344px;
	position: relative;
}
#comments li.odd {
	background-color: #9fc255;
}
#comments ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.commentside{
	font-size:14px;
	overflow:hidden;
	margin-left: 42px;
	position: relative;
	min-height: 37px;
	margin-top: 0px;
}


#commentor-name{
	color:rgb(35, 166, 199);
	font-weight:bold;
}

#commentor {
	width: 350px;
	margin: 0 auto;
	padding-top: 3px;
	background: #bed267;
	position: relative;
	height: 40px;
}
button#post-comment,
button.post-comment {
	top: -5px;
	position: relative;
	height: 37px;
}
.commentor_pic{ 
	position: absolute;
	width: 35px;
	top: 5px;
	left: 5px;
}
#textfield{
	float:left;
	width:250px;
	margin: 0 auto;
}
textarea.photo_comment {
	width: 240px;
	margin-left: 44px;
	margin-bottom: 0px;
	height: 27px;
	vertical-align: top;
	border: 1px solid #ccc;
}
#post-button{
	float:right;
}
#comment-area{
	width: 300px;
	vertical-align: top;
}
#webcam_wrapper {
width: 160px;
height: 120px;
position: fixed;
right: 14px;
bottom: 10px;
}
#webcam_wrapper .notice{
	color: red;
	text-align: center;
	font-weight: bold;
}
i#webcam{
	background: url('http://icons.iconarchive.com/icons/fasticon/fast-icon-users/128/video-chat-icon.png');
	height: 128px;
	width: 128px;
	display: block;
}
#webcam_wrapper #minivideo{
	height:120px;
	width: 160px;
}
#largevideocontainer {width:90%;top:10px;bottom:30px;left:10px;position:absolute;}
#mainWrapper #page-loader {
    background: white;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    opacity: 0.8;
    z-index: 2000;
}
#page-loader img {
    margin: 200px auto;
    display: block;
}
.photo-action-wrapper{
	top: 0px;
	position: absolute;
	left: 2px;
	width:245px;
}

/**     DROPBOX      **/
#dropbox .preview{
	height: 118px;
	float: left;
	margin: 20px 0 0 15px;
	position: relative;
	text-align: center;
	background: black;
}

#dropbox .preview img{
	height: 106px;
}

#dropbox .imageHolder{
	display: inline-block;
	position: relative;
	width: 180px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}
#dropbox .upload_response_text {
	color: white;
	position: absolute;
	top: 20px;
	width: 100px;
	font-weight: bold;
	left: 26px;
	background: red;
	padding: 10px;
}
#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
	-webkit-box-shadow:0 0 2px #000;
	-moz-box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}
#dropbox{
	
	border-radius:3px;
	position: relative;
	margin:1px auto 80px;
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 990px;
	
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message{
	font-size: 11px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
	color:#3299BB;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}
.home-account-settings .header {
	font-weight: bold;
	font-size: 18px;
}
.home-account-settings .right-box {
	display: inline-block;
	margin-left: 10px;
}
.home-account-settings .left-box {
	display: inline-block;
	margin-left: 10px;
}
.home-account-settings .content {
	min-height: 80px;
	margin-top: 10px;
}
.home-account-settings .upload{
	text-align: center;
	font-size: 12px;
}
.home-account-settings .upload a{
	font-weight: bold;
	font-size: 16px;
}
.home-account-settings .image {
	box-shadow: 3px 2px 4px #999;
}
.home-account-settings #update-profile-link {
	font-size: 16px;
	color: #64C5EF;
	text-decoration: underline;
}
.vertical-align-center-parent{
	margin: auto;
	position: relative;
}
.vertical-align-center-child{
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
}

#like{
	float: right;
	padding: 3px 5px;
	cursor: pointer;
	background: none;
	line-height: 20px;
}
#like:hover{
	background: rgba(1,1,1, 0.9);
}
.ui-dialog{
	z-index: 10000 !important;
}
#account_settings{
	width: 700px;
	margin: 0 auto;
}
#account_settings .initial{
	display: inline-block;
}
#account_settings .edit-container{
	display: none;
	margin: 0 auto;
	width: 267px;
}
#account_settings .edit-container .field{
	padding: 0px !important;
	margin-bottom: 4px !important;
	font-size: 12px;
	height: 21px !important;
	width: 170px;
}
#account_settings ul{
	list-style-type: none;
	padding: 0;
}
#account_settings li {
	border-top: 1px solid #999;
	padding: 10px 0px;
}
#account_settings li.active {
	background-color: #e9e9e9;
}
#account_settings .title{
	display: inline-block;
	width: 150px;
	font-weight: bold;
	font-size: 14px;
	color: #444;
	vertical-align: top;
	margin-left: 10px;
}
#account_settings .edit-container .title{
	width: 80px;
	float: left;
}
#account_settings .value{
	display: inline-block;
	width: 500px;
	color: #999;	
	font-size: 14px;
}
#account_settings .action{
	color: #64C5EF;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer; 
}
.info_column .user-wrapper {
	width: 300px;
	float: left;
	position: relative;
	box-shadow: 0px 0px 1px black;
	margin-left: 7px;
	margin-top: 6px;
}
.info_column .user-info {
	display: inline-block;
	width: 190px;
}
.info_column .fullname {
	display: block;
	font-weight: bold;
	color: #444;
}
.info_column .last_seen {
	font-size: 12px;
}
#profile_address{
	text-align: center;
	margin-bottom: 10px;
	font-size: 12px;
	word-wrap: normal;
}
.birthdate-select-style select{
	-webkit-appearance:none;
	height: 25px;
	border:0;
	width:70px;
	border-radius:0;
	background:transparent;
	margin-bottom:10px;
}
.birthdate-select-style{
	float:left;
	height: 25px;
	width:70px;
	margin-bottom: 10px;
	margin-right:20px;
	background: url(../img/down_arrow_select.jpg) no-repeat right white;
}
.select-style select{
	height:25px;
	width:340px;
	background:transparent;
	border:0;
	border-radius:0;
	margin-bottom:10px;
	-webkit-appearance:none;
}

.select-style{
   height: 25px;
   width:340px;
   margin-bottom:10px;
   overflow: hidden;
   background: url(../img/down_arrow_select.jpg) no-repeat right white;

}

/*#notification-list .notification-from-image {
	float: left;
}*/
#notification-list .notification-box{
	float: left;
}

.user_column .buttons.active button {
	background-color: #9fc255;
}

.radio{
	float:left;
	height: 35px;
	width:90px;
}

input[type=radio]{
	display:none;
}
.radio label{
	display: inline-block; 
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
}

.radio label:before{
	display: inline-block; 
	left:0;
	content:"";
	position:absolute;
	width:14px;
	border-radius:20px;
	height:13px;
	background-color: white;
	cursor:pointer;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
input[type=radio]:checked  + label:before{
	color: rgb(82, 73, 73);
	content:"\2022";
	line-height:13px;
	font-size:41px;
	
}

input[type=checkbox]{
	display:none;
}
.checkbox label{
	display: inline-block; 
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	background:none;
	top:0;
	float:none;
}
.checkbox label:before{
	display: inline-block; 
	left:0;
	content:"";
	position:absolute;
	cursor:pointer;
	width:14px;
	height:14px;
	background-color: white;
	
}

input[type=checkbox]:checked + label:before{
	content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 14px;  
    color: rgb(82, 73, 73);  
    text-align: center;  
    line-height: 14px; 
}
.photo-wrapper .user_photo img {
	height: 250px;
	width: 250px;
}
#photo_viewer #not_button {
    float: right;
}
.peer-info-box{
	float: left;
	color: white; 
	margin-left: 10px;
	word-wrap: break-word;
	width: 200px;
}
.peer-name{
	font-weight: bold;
	font-size: 15px;
}
#all-photo-likes {
	float: left;
}
#public-profile #left-box{
	float: left;
	width: 100%;
}
#public-profile #right-box{
	float: left;
	width: 500px;
	margin-left: -500px;
}
#public-profile #right-box .content_header,
#public-profile #right-box .info_content{
	width: 100%;
} 
#public-profile #left-box img{
	float: left;
	margin: 2px 2px;
}
#notification-list .activity-notification-action {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor:pointer;
}
.message-wrapper.even{
	background-color:#9fc255;
}
#message_notification {
	top: 254px;
	right: -24px;
	z-index: 1;
}
#messagesBar {
height: 400px;
position: fixed;
width: 668px;
top: 2px;
background: #9fc255;
padding: 10px 10px 10px 0;
z-index: 10000;
left: -670px;
}
#messagesBar .ticker {
position: absolute;
cursor: pointer;
top: 302px;
right: -64px;
width: 81px;
background: inherit;
padding: 4px 10px;
text-align: center;
font-weight: bold;
color: white;
transform:rotate(90deg);
-ms-transform:rotate(90deg);
-webkit-transform:rotate(90deg);
}
#threadsList .thread.active{
background: #9fc255
}
#threadsList .thread {
   position: relative;
	margin: 0;
	background: #cff285;
	line-height: 0;
	padding: 7px;
	color: #444;
	cursor: pointer;
	border-bottom: #9fc255 1px solid;
}
#threadsList .thread .name {
    position: absolute;
    top: 15px;
    left: 62px;
    font-weight: bold;
}
#messagesBar #threadsList {
	overflow: hidden;
	height: 100%;
	width: 265px;
	width: 670px;
	position: absolute;
	height: 401px;
	background: #cff285;
	color: #555;
	font-weight: bold;
}
#messagesBar #messagesBox {
overflow-x: hidden;
width: 400px;
height: 415px;
position: absolute;
left: 268px;
overflow: hidden;
}
#threadsList .thread .message {
    position: absolute;
    top: 24px;
    left: 63px;
    width: 157px;
    line-height: normal;
    height: 32px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#messagesBar #messagesBox .messages .line {
    width: 250px;
    float: right;
    margin: 0;
}

#messagesBar #messagesBox .messages .line.recieved {
    float: left;
}
#messagesBox .messages .line p {
	background: #eee;
	border-radius: 10px;
	padding: 10px;
	margin-left: 10px;
	margin: 5px 5px;
	word-wrap: break-word;
}
#messagesBox .messages .line.recieved p {
	background: #fff;
	margin-left: 10px;
}
#messengerBox {
	position: absolute;
	bottom: -3px;
	right: 10px;
}
#messengerBox textarea {
    width: 387px;
	height: 34px;
	border: 0;
	left: 10px;
	position: relative;
	bottom: 4px;
}
#messagesBox .messages {
    overflow-x: hidden;
    overflow: hidden;
    height: 350px;
    position: absolute;
    top: 4px;
}
#invite-friends input[type="checkbox"]{
	display: inline-block;
}
#invite-friends ul {
    padding: 0;
    list-style: none;
}
#invite-friends li {
    margin: 2px 20px;
    float: left;
    width: 200px;
}
#inviterBox {
    margin: 0 auto;
    width: 520px;
}
#invite-friends li span {
    width: 148px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#inviterBox h3{
	font-size: 18px;
}
#matchup_coins {
background: url(../img/matchup360-sprite.png) 0 -110px;
width: 30px;
height: 30px;
top: 10px;
position: absolute;
right: 200px;
cursor:pointer;
}
#matchup_coins i {
	font-size: 12px;
	top: 3px;
	position: relative;
	left: -48px;
	padding: 0 5px;
	background: #996;
	border-radius: 50px;
	height: 20px;
	border: 2px white solid;
	display: inline-block;
	text-align: center;
	color: white;
}
#messageBoxOverlay {
position: absolute;
top: 0;
left: 0;
z-index: 9999;
overflow: hidden;
}
#messageBoxOverlay {
position: fixed;
width: 100%;
height: 100%;
}
#messageBoxOverlay {
background: url(../img/overlay.png) repeat 0 0;
}
#member-wrapper #gallery-wrapper {
    overflow-y: hidden;
}
#member-wrapper #image-wrapper #image {
	text-align: center;
}
#member-wrapper .photo-wrapper {
    display: inline-block;
}
#member-wrapper #gallery {
   margin: 0 auto; 
}
#member-wrapper .photo-wrapper img {
    width: 75px;
	cursor: pointer;
}
#random-member #meet {
	width: 185px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
}
#image-wrapper #image {
	position: relative;
	margin: 0 auto;
}
#image-wrapper #profile-info {
	position: absolute;
	bottom: 7px;
	right: 5px; 
	color: white;
	background: rgba(0,0,0,0.7);
	font-size: 14px;
	padding: 5px;
	max-width: 100%;
} 
#gmail_contacts input[type="checkbox"] {
    display: inline-block;
}
#gmail_contacts .title {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    margin-left: 5px;
}
#gmail_wrapper {
margin: 10px;
}
#gmail_contacts .contact {
width: 240px;
display: inline-block;
}
#gmail_wrapper textarea {
width: 400px;
margin-left: 34px;
}
#gmail_wrapper #gmail_contacts {
height: 204px;
overflow: auto;
}
#inviterBox p,#gmail_wrapper p {
font-size: 14px;
}
#get_credits {
width: 430px;
padding: 0 15px;
}
#get_credits #networks{
	text-align: center;
}
button:disabled {
	opacity: 0.3;
	padding: 5px 6px;
}
#invite-friends {
height: 216px;
overflow: auto;
}
#invite-friends {
    height: 216px;
    overflow: auto;
}
#friends-list textarea {
    position: absolute;
    bottom: -54px;
    right: 66px;
    height: 19px;
    resize: none;
    width: 428px;
}
#friends-list {
    position: relative;
}
#friends-list .invite {
    position: absolute;
    bottom: -50px;
    right: -5px;
}
