html {
	background-color: #E9E9E9;
	font: 14px 'PT Sans Narrow', sans-serif;
}

body {
	color: #424242;
}

.login input {
	height: 30px;
	width: 300px;
	text-indent: 3px;
	margin-bottom: 5px;
	font: 20px 'PT Sans Narrow', sans-serif;
}

input[type='submit'],button{
	width: 306px;
	height: 36px;
	font-weight: bold;
	padding: 3px 6px;
	margin-top: 7px;
	position: relative;
	left: -1px;
	top: 10px;
}

#login-box {
	width: 300px;
	margin: auto;
}