#chatroom {
    position: fixed;  
    left: -608px;  
    height: 80%;  
    width: 600px;  
    background: #9fc255;  
    z-index: 1100;  
    top: 50px;  
    padding: 5px; 
    border: #ada 2px solid;
}
#chatroom .ticker {
    position: absolute;  
    left: 610px;  
    display: inline-block;  
    background: #9fc255;  
    border-top-right-radius: 10px;  
    border-bottom-right-radius: 10px;  
    top: 89px;  border-top: #ada 2px solid;  
    border-right: #ada 2px solid;  
    border-bottom: #ada 2px solid;
}
#chatroom .ticker i {
    background: #9fc255 url(http://ph.badoocdn.com/v2/-/-/i/menu-compact.19.png) -161px 0;  
    height: 24px;  
    width: 30px;  
    display: inline-block;  
    margin: 10px 8px 10px 0px;
}