#messenger {
    position: fixed;
    left: -608px;
    height: 80%;
    width: 600px;
    background: #9fc255;
    z-index: 1100;
    top: 50px;
    padding: 5px;
    border: #ada 2px solid;
	display: none;
}
#messenger #counter {
    position: absolute;
    right: -33px;
    background: red;
    padding: 0px 6px;
    border: 2px solid white;
    border-radius: 25px;
    top: 16px;
    z-index: 9;
    box-shadow: #111 0px 0px 3px;
    color: white;
	display: none;
}
#messenger .ticker {
    position: absolute;
    left: 610px;
    display: inline-block;
    background: #9fc255;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 34px;
    border-top: #ada 2px solid;
    border-right: #ada 2px solid;
    border-bottom: #ada 2px solid;
}
#messenger .ticker i{
	background: #9fc255 url(http://ph.badoocdn.com/v2/-/-/i/menu-compact.19.png) -161px 0;
	height: 24px;
	width: 30px;
	display: inline-block;
	margin: 10px 8px 10px 0px;
}
#messenger .threads .nothread{
	font-weight: bold;
	background: rgba(100,100,100,0.8);
	color: white;
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
}
#messenger .threads {
	background: rgba(255,255,255,0.5);
	float: left;
	width: 215px;
}
#messenger .thread{
	cursor: pointer;
	padding: 3px;
	background: rgba(255,255,255,0.5);
}
#messenger .thread.active{
	background: #fff;
}
#messenger .thread img {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 5px;
}
#messenger .conversation {
    background: #fff;
    width: 385px;
    height: 100%;
    float: right;
    padding-top: 2px;
    position: relative;
	display: none;
}
.conversation .bubble {
    background: #96CDCD;
    border-radius: 10px;
    padding: 3px 7px;
    margin: 2px 5px;
    color: white;
    float: left;
    position: relative;
    left: 8px;
    max-width: 200px;
}
.bubble.me {
    float: right;
    margin-right: 22px;
    background: #96CD96;
	text-align: right;
}
.bubble.me:before {
	border: none;
}
.bubble.me:after {
    top: 9px;  
    right: -9px;  bottom: auto;  left: auto;  
    border-width: 9px 0 0px 9px;  
    border-color: transparent #96CD96;
    content: "";  position: absolute;
    border-style: solid;
}
.bubble:before {
	top: 9px;
	left: -9px;
	bottom: auto;
	border-width: 9px 9px 0px 0px;
	border-color: transparent #96CDCD;
	content: "";
	position: absolute;
	border-style: solid;
}
#messenger .conversation .messages {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 55px;
	overflow: auto;
}
#messenger .conversation #chat_text {
    bottom: 0;
    position: absolute;
    margin: 3px;
    width: 365px;
}
#messenger .thread .fullname {
    font-weight: bold;
}
#messenger .thread .message {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
}
#myModal #input-text {
	width: 100%;
	margin: 10px 0 0;
}