

#main{
width:860px;
margin: 0 auto;
height: auto;
}


.user_column{
width:245px;
float:left;
height:auto;

position: relative;
padding: 3px;

}

h1{
text-align: center;
}

#profile_name{
height:38px;
border: solid;
position: relative;
}

#profile_pic{
border:1px solid;
position: relative;
height:245px;
margin-top:3px;
}

#profile_pic img{
margin: 46px;
}

#member_action{
position: relative;
height: 125px;
margin-top:3px;
text-align: right;
border:1px solid;
padding: 3px;

}

ul{
list-style-type: none;
}

.info_column{
width:580px;
height:auto;	

padding:3px;
position: relative;
float:right;
}

#user_photos{
border:solid;
position: relative;
height:auto;
}

#user_photos img{
margin: 3px;
}

#prof_heading{
border:solid;
position: relative;
margin-top:3px;
height:40px;
}

#prof_intro{
border:1px solid;
position: relative;
//height: 130px;
margin-top:3px;
}

.content_header{
border:solid;
position: relative;
height:30px;
margin-top:3px;
}

.info_content{
position: relative;
padding:3px;
border: 1px solid;
margin-top:3px;

}

.buttons{
height:38px;
border:solid;
border-radius: 10px;
margin-top:3px;
position: relative;
}

#footer_wrapper{
width: 854px;
margin:0 auto;
border: solid;
}


