#box1 {
width: 400px;
height: auto;
border: 2px;
border-radius:20px;
padding: 20px;
position: relative;
margin: auto;
background-color: grey;
box-shadow: 10px 10px 5px black;
}
.photo {
display: inline-block;
text-align: center;
background: black;
width: 190px;
margin: 0 3px 6px;
line-height: 0;
padding: 0;
}
.jqititle{
	font-size: 18px;
	font-weight: bold;
}

#image-cropper {
    display: inline-block;
}
#photo-gallery {
    width: 600px;
    height: 400px;
    display: inline-block;
	overflow-y:auto;
	vertical-align: top;
}
.photo img {
    height: 116px;
}
.jqibox {
text-align: center;
}
#signup-box {
width: auto;
height: 480px;
position: relative;
border-radius: 10px;
border: 1px;
padding: 10px;
background-color: white;
overflow: hidden;
}
#sign-up {
	font: 48px 'PT Sans Narrow', sans-serif;
	position: relative;
	left: 66px;
	font-weight: bold;
}
form label {
	width: 170px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	margin: 4px 0 0;
	font-size: 16px;
	height: 24px;
}
.radio-group{
	display: inline-block;
	margin-left:20px;
}
.field_error{
	background: url(http://www.pwcmembers.com/system/application/views/theme/images/icon_sprite.png) 160px 90px;
	height: 20px;
	width: 20px;
	display: inline-block;
	margin: 0;
	top: 5px;
	position: relative;
	display: none;
}

/*#signup-box input, select {
	float: right;
	clear: right;
	width: 230px;
	height: 30px;
	text-align: left;
	color: #424242;
	font: 20px 'PT Sans Narrow', sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
	
}

#signup-box label {
	float: left;
	clear: right;
	width: 140px;
	text-align: right;
	margin-top: 3px;
	font: 25px 'PT Sans Narrow', sans-serif;
	
}*/

#signup-box input[type='text'] {
	 text-indent: 3px;
}

#signup-box input[type='password'] {
	 text-indent: 3px;
}

#signup-box input[type='submit']{
	margin-right: 0;
	height: auto;
	width: auto;
	font-weight: bold;
	padding: 3px 3px;
	color: #424242;
}

#phase1{
width:400px;
float:left;
}

#phase2{
margin-left: 400px;
width: 400px;
height: 460px;
}
#phase3{
width:400px;
margin-left:400px;
}
.textfield{
padding: 3px 5px;
width:220px;
font-size:15px;
//margin-left:20px;
//margin-top: 7px;
}
.textfield2{
padding: 5px 5px;
width:120px;
font-size:17px;
//margin-left:20px;
}

#age_from{
height: 31px;
}
#age_to{
height: 31px;
}

label{
text-align: right;
margin-left: 20px;
}
table td{
vertical-align:top;
}

.language{
width: 120px;
height: 30px;
text-align: left;
display: inline-block;
}

#lang {
width: 368px;
display: inline-block;
margin: 6px 0 0;
}
div#interested_in{
display: inline-block;
margin: 6px 0 0;
}
.textbox{
height: 150px;
width: 228px;
resize: none;
}

form .row {
margin-top: 5px;
}
textarea {
vertical-align: top;
}


body{
	color: #424242;
	min-height:600px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

header, footer{
	display:block;
}



/*-------------------------
	Header Styles
--------------------------*/



header{
	padding:75px;
	position: relative;
}

header:before,
#dropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
}


/*h1{
	height:92px;
	overflow: hidden;
	text-align: center;
}*/



/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
	
	border-radius:3px;
	position: relative;
	margin:1px auto 80px;
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 990px;
	
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message{
	font-size: 11px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
	color:#3299BB;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	height: 118px;
	float: left;
	margin: 20px 0 0 15px;
	position: relative;
	text-align: center;
	background: black;
}

#dropbox .preview img{
	height: 106px;
}

#dropbox .imageHolder{
	display: inline-block;
	position: relative;
	width: 180px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}
#dropbox .upload_response_text {
	color: white;
	position: absolute;
	top: 20px;
	width: 100px;
	font-weight: bold;
	left: 26px;
	background: red;
	padding: 10px;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
	-webkit-box-shadow:0 0 2px #000;
	-moz-box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}



/*----------------------------
	The Footer
-----------------------------*/



footer{
	display:block;
	background-color: #151517;
    box-shadow: 0 -1px 2px #171717;
    position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
	z-index: 100000;
}

footer h2{
	font-size:20px;
	font-weight:normal;
	left:50%;
	margin-left:-400px;
	padding:22px 0;
	position:absolute;
	width: 540px;
	color:#eee;
}

footer a.tzine,a.tzine:visited{
	background:url("../img/tzine.png") no-repeat right top;
	border:none;
	text-decoration:none;
	color:#FCFCFC;
	font-size:12px;
	height:70px;
	left:50%;
	line-height:31px;
	margin:23px 0 0 110px;
	position:absolute;
	top:0;
	width:290px;
}

#logout {
	width: 70px;
	height: 20px;
	text-align: center;
	position: relative;
	left: 1250px;
}

#logout a {
	text-decoration: none;
	color: #3299BB;
}

#logout a:hover {
	color: #E9E9E9;
}

#logout:hover {
	background-color: #3299BB;
}
form .row {
	margin-top: 5px;
}
