html {
	background-color: #E9E9E9;
}

body {
	color: #424242;
}

/*******/

#info-banner {
	font: 48px 'PT Sans Narrow', sans-serif;
	position: relative;
	left: 70px;
}

input, select, textarea, .radio-group {
	float: right;
	clear: right;
	width: 500px;
	text-align: left;
}

input, select, textarea {
	font: 14px 'PT Sans Narrow', sans-serif;
	color: #424242;
	height: 27px;
}

input, textarea {
	text-indent: 3px;
	margin-top: 3px;
}

textarea {
	resize: none;
	height: 60px;
}

#status {
	margin-top: 3px;
}

.radio-group{
	font: 20px 'PT Sans Narrow', sans-serif;
}

#age-from {
	margin-top: 5px;
}

input[type='submit']{
	width: auto;
	height: auto;
	font-weight: bold;
	padding: 3px 6px;
	color: #424242;
}

input[type='checkbox']{
	width: auto;
	float: none;
}

label {
	float: left;
	clear: right;
	width: 140px;
	text-align: right;
	margin-top: 4px;
	font: 20px 'PT Sans Narrow', sans-serif;
}

#form-box {
	width: 650px;
	position: relative;
	left: 480px; 
}

#errors {
	color: #FF0000;
	position: relative;
	left: 70px;
}

select {
	width: 504px;
}

#logout {
	width: 70px;
	height: 20px;
	text-align: center;
	position: relative;
	left: 1250px;
}

#logout a {
	text-decoration: none;
	color: #3299BB;
}

#logout a:hover {
	color: #E9E9E9;
}

#logout:hover {
	background-color: #3299BB;
}