html {
	background-color: #E9E9E9;
}

body {
	color: #424242;
}

#sign-up {
	font: 48px 'PT Sans Narrow', sans-serif;
	position: relative;
	left: 66px;
	font-weight: bold;
}

/*******/

#login-box {
	padding-top: 20px;
	margin-top: -10px;
	margin-left: -8px;
	margin-right: -8px;
	padding: 0;
	background-color: #3299BB;
	height: 50px;
	font: 16px 'PT Sans Narrow', sans-serif;
	color: #424242;
}

#login-container {
	width: 550px;
	margin: 0;
	position: relative;
	top: 15px;
	left: 615px;
}

#login-container input {
	width: 175px;
	text-indent: 2px;
}

#login-container label {
	margin-left: 10px;
}

#login-container input[type='submit'] {
	width: auto;
	height: auto;
	font: 14px 'PT Sans Narrow', sans-serif;
}

/*******/

#signup-box input, select {
	float: right;
	clear: right;
	width: 230px;
	height: 30px;
	text-align: left;
	color: #424242;
	font: 20px 'PT Sans Narrow', sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
}

#signup-box input[type='text'] {
	 text-indent: 3px;
}

#signup-box input[type='password'] {
	 text-indent: 3px;
}

#signup-box input[type='submit']{
	margin-right: 0;
	height: auto;
	width: auto;
	font-weight: bold;
	padding: 3px 6px;
	color: #424242;
}

#signup-box label {
	float: left;
	clear: right;
	width: 140px;
	text-align: right;
	margin-top: 3px;
	font: 25px 'PT Sans Narrow', sans-serif;
}

#signup-box {
	width: 380px;
	position: relative;
	left: 750px;
}

#signup-box select {
	width: 234px;
}