body{
margin:0;
color: black;
font-size: 18px;
background-color: black;
font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
#page_container .photocollage {
float: left;
margin: 0;
padding: 0;
line-height: 0;
}
#login-box p {
font-size: 12px;
text-align: center;
color: #faa;
margin: 2px 0;
}
#page_container .photocollage img {
	width: 220px;
}
#page_container {
	margin: 0 auto;
}
#container {
	padding: 12px;
	position: absolute;
	top: 33%;
	min-height: 100px;
	margin: -111px 0 0 -183px;
	left: 50%;
	width: 302px;
	border-radius: 5px;
	border: 1px solid #888;
	background-color: rgba(0,0,0,.5);
}
#container2 {
	padding: 20px;
	border-radius: 5px;
	box-shadow: 1px 0px 7px black;
}
#login-box label {
	text-align: left;
	display: inline-block;
	width: auto;
	color: gray;
	position: absolute;
	left: 5px;
	top: 0px;
	z-index:1
}
#login-box .login {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 260px;
}
#login-box .login input:focus{
	z-index:2;
	position: relative;
}
#login-box input[type=text], 
#login-box input[type=password] {
	width: 150px;
}
#login-box input, #login-box button {
border: none;
padding: 5px 10px;
}
input[type=checkbox]{
	display:none;
}
.checkbox label{
	display: inline-block; 
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	background:none;
	top:0;
	float:none;
}
.checkbox label:before{
	display: inline-block; 
	left:0;
	content:"";
	position:absolute;
	cursor:pointer;
	width:14px;
	height:14px;
	background-color: white;
	
}

input[type=checkbox]:checked + label:before{
	content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 14px;  
    color: rgb(82, 73, 73);  
    text-align: center;  
    line-height: 14px; 
}
loader {
	color: #333;
}
h1{
	margin: 5px 0;
	font-size: 24px;
	font-family: Arial;
}
hr {
border: white solid 1px;
width: 275px;
}
#windowSize{
	width: 100%;
	position: fixed;
	background: black;
}
#blur {
height: 100%;
width: 100%;
position: fixed;
top: 0;
background: rgba(255,255,255,0.4);
z-index: 1000;
}
#welcome-box {
width: 900px;
height: 400px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
background: white;
padding: 0px;
box-shadow: rgb(32,64,128) 0px 0px 11px 1px;
}
#welcome-box #intro{
	width: 390px;
	margin: 20px;
	padding: 5px;
	float:left;
}
#welcome-box #intro #logo{
	background: url(../img/matchup360-130.jpg);
	width: 130px;
	height: 130px;
	float: left;
	margin: 0 10px 5px 0;
}
#get-started {
	float: right;
	width: 460px;
	height: 400px;
	background: #3894e7;
}
#get-started #login-box{
	margin:10px auto 0;
	width: 360px;
	color: white;
}
#get-started .button{
	background: rgba(255,255,255,0.25) !important;
	border: 2px white solid;
	color: white;
	font-weight: bold;
	padding: 5px 15px;
}
#get-started #signup_button.button {
	background: rgba(128,255,32,0.75) !important;
	font-size: 20px;
	padding: 10px 20px;
	display: block;
	margin:  60px auto 0;
	cursor: pointer; 
}
input[type=submit],
input[type=button] {
	cursor: pointer; 
}
/*---------------
FileDrop
-----------------*/

/*-------------------------
	General Styles
--------------------------*/



html{
	background-color: #E9E9E9;
	min-height:100%;
	position:relative;
	
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

header, footer{
	display:block;
}



/*-------------------------
	Header Styles
--------------------------*/



header{
	padding:75px;
	position: relative;
}

header:before,
#dropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
}



/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
	
	border-radius:3px;
	position: relative;
	margin: 1px auto 0px;
	min-height: 290px;
	overflow-x: hidden;
    width: 990px;
	
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message{
	font-size: 11px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
	color:#3299BB;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	width: 150px;
	float:left;
	margin: 20px 15px 15px 29px;
	position: relative;
	text-align: center;
	height: 150px;
}

#dropbox .preview img{
	max-width: 240px;
	max-height:180px;
	display: block;
	
	max-width: 150px;
	max-height: 150px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
	width: 150px;
	height: 150px;
	background: black;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}
#dropbox .upload_response_text {
	color: white;
	position: absolute;
	top: 15px;
	width: 100px;
	font-weight: bold;
	left: 26px;
	background: red;
	padding: 10px;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height: 5px;
	width:100%;
	left:0;
	bottom: -9px;
	
	box-shadow:0 0 2px #000;
	-webkit-box-shadow:0 0 2px #000;
	-moz-box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}



/*----------------------------
	The Footer
-----------------------------*/



footer{
	display:block;
	background-color: #151517;
    box-shadow: 0 -1px 2px #171717;
    position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
	z-index: 100000;
}

footer h2{
	font-size:20px;
	font-weight:normal;
	left:50%;
	margin-left:-400px;
	padding:22px 0;
	position:absolute;
	width: 540px;
	color:#eee;
}

footer a.tzine,a.tzine:visited{
	background:url("../img/tzine.png") no-repeat right top;
	border:none;
	text-decoration:none;
	color:#FCFCFC;
	font-size:12px;
	height:70px;
	left:50%;
	line-height:31px;
	margin:23px 0 0 110px;
	position:absolute;
	top:0;
	width:290px;
}

#logout {
	width: 70px;
	height: 20px;
	text-align: center;
	position: relative;
	left: 1250px;
}

#logout a {
	text-decoration: none;
	color: #3299BB;
}

#logout a:hover {
	color: #E9E9E9;
}

#logout:hover {
	background-color: #3299BB;
}
form .row {
	margin-top: 5px;
}
/*----------------------------
END OF FileDrop
------------------------------*/