.jMenu {
    display: table;
    margin: 0;
    padding: 0
}

/* First level */
.jMenu li {
    display: table-cell;
    margin: 0;
}

.jMenu li a {
    padding: 10px;
    display: block;
    background-color: transparent;
    color: #e9e9e9;
    cursor: pointer;
    font: 12pt segoe ui 'sans-serif';
}

/* Lower levels */
.jMenu li ul {
    display: none;
    position: absolute;
	z-index:9999;
    padding: 0;
    margin: 0;
}

.jMenu li ul li {
    background-color: #fff;
    display: block;
    padding: 0;
	border-right: 1px solid #484548;
	border-left: 1px solid #484548;
}

.jMenu li ul li.arrow {
    background-image: url('http://matchup360.com/assets/img/arrow_down.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 6px;
    padding: 0;
    border-bottom: 1px solid #484548;
    padding-bottom: 10px;
	border-top: 1px solid #484548;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.jMenu li ul li a {
    font-size: 11px;
    text-transform: none;
    padding: 7px;
    display: block;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
	color: #424242;
}

.jMenu li ul li a.isParent {
    background-color: #3a3a3a;
    background-image: url('http://matchup360.com/assets/img/arrow_right.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.jMenu li ul li a:hover {
    background-color: rgb(84, 148, 218);
    border-top: 1px solid #3299bb;
    border-bottom: 1px solid #3299bb;
	color: #e9e9e9;
}

.last-div-list {
	border-bottom: 1px solid #484548;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}