﻿/*-------------------------
    Dropbox Element
--------------------------*/

#dropbox{
    border-radius:3px;
    position: relative;
    margin: 10px auto 0px;
    min-height: 120px;
    overflow: hidden;
    padding-bottom: 40px;
	display: none;
    border: 4px #666 dashed;
}

#dropbox .message{
    font-size: 11px;
    text-align: center;
    padding-top: 72px;
    display: block;
}

#dropbox .message i{
    color:#ccc;
    font-size:10px;
}

#dropbox:before{
    border-radius:3px 3px 0 0;
}

/*-------------------------
    Image Previews
--------------------------*/

#dropbox .preview{
    width: 86px;
    height: 66px;
    float:left;
    margin: 10px 0 0 10px;
    position: relative;
    text-align: center;
}

#dropbox .preview img{
    max-width: 80px;
    max-height: 60px;
    border:3px solid #fff;
    display: block;

    box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
    display: inline-block;
    position:relative;
}

#dropbox .imageHolder .icon-remove {
	position: absolute;
	right: 2px;
	top: 1px;
	z-index: 1;
	cursor: pointer;
}

#dropbox .uploaded{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

#dropbox .preview.done .uploaded{
    display: block;
}

/*-------------------------
    Progress Bars
--------------------------*/

#dropbox .progressHolder{
    position: absolute;
    background-color:#252f38;
    height: 5px;
    width:100%;
    left:0;
    bottom: -10px;
    box-shadow:0 0 2px #000;
}

#dropbox .progress{
    background-color:#2586d0;
    position: absolute;
    height:100%;
    left:0;
    width:0;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

#dropbox .preview.done .progress{
    width:100% !important;
}

/*-------------------------
    Upload User Photo Dropbox Element
--------------------------*/

#upload_user_photos{
    border-radius:3px;
    position: relative;
    margin: 10px auto 0px;
    min-height: 120px;
    overflow: hidden;
    padding-bottom: 40px;
    border: 4px #666 dashed;
}

#upload_user_photos .message{
    font-size: 11px;
    text-align: center;
    padding-top: 72px;
    display: block;
}

#upload_user_photos .message i{
    color:#ccc;
    font-size:10px;
}

#upload_user_photos:before{
    border-radius:3px 3px 0 0;
}

/*-------------------------
    Image Previews
--------------------------*/

#upload_user_photos .preview{
    width: 86px;
    height: 66px;
    float:left;
    margin: 10px 0 0 10px;
    position: relative;
    text-align: center;
}

#upload_user_photos .preview img{
    max-width: 80px;
    max-height: 60px;
    border:3px solid #fff;
    display: block;

    box-shadow:0 0 2px #000;
}

#upload_user_photos .imageHolder{
    display: inline-block;
    position:relative;
}

#upload_user_photos .imageHolder .icon-remove {
	position: absolute;
	right: 2px;
	top: 1px;
	z-index: 1;
	cursor: pointer;
}

#upload_user_photos .uploaded{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

#upload_user_photos .preview.done .uploaded{
    display: block;
}

/*-------------------------
    Progress Bars
--------------------------*/

#upload_user_photos .progressHolder{
    position: absolute;
    background-color:#252f38;
    height: 5px;
    width:100%;
    left:0;
    bottom: -10px;
    box-shadow:0 0 2px #000;
}

#upload_user_photos .progress{
    background-color:#2586d0;
    position: absolute;
    height:100%;
    left:0;
    width:0;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

#upload_user_photos .preview.done .progress{
    width:100% !important;
}

/** Start of Matchup360 **/
#top-bar {
    height: 45px;
    background: #6db3f2; /* Old browsers */  
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */  
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */  
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */  
	background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */  
	background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */  
	background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */  
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
    z-index: 9;
    position: relative;
}
#top-bar .logo{
	background: url(../../img/logo.png) no-repeat;
	width: 251px;
	height: 88px;
	display: block;
	float: left;
}
div#stage {
    margin-top: 45px;
    left: 94px;
    position: relative;
    z-index: 10;
    width: 850px;
}
#text_shout {
width: 486px;
}
.user_photo .options {
    position: absolute;
    width: inherit;
}
.user_photo .options button {
    padding: 0;
    height: 20px;
    width: 20px;
}
.user_photo .options .remove {
    float: right;
}
.user_photo .options .primary {
    float: left;
}
.square_250{
	width: 250px;
	height: 250px;
	margin-right: 5px;
	float: left;
}
.square_130{
	width: 130px;
	height: 130px;
	margin-right: 5px;
	float: left;
}
.square_90 {
	height: 90px;
	width: 90px;
	margin-right: 5px;
	float: left;
}
.square_40{
	width: 40px;
	height: 40px;
	margin-right: 5px;
	float: left;
}
.square_30{
	width: 30px;
	height: 30px;
	margin-right: 3px;
	float: left;
	background: rgba(255,255,255,0.75);
}
.map_canvas{
	height: 300px;
	margin-top: 5px;
}
.map_canvas img{
	max-width: none;
}
#geocomplete {
    height: 30px;
    margin-bottom: 0;
}
div#stage .post_options {
    float: right;
    margin-right: 6px;
}
div#stage .well {
    position: relative;
    width: 560px;
}
div#stage .stream {
    width: 600px;
}
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}
#post_location {
    max-width: 198px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.stream .entry .message .head {
    font-weight: bold;
    margin: 5px 0 0 5px;
}
.stream .entry .message .foot {
    font-size: 12px;
    font-style: italic;
    background: #eee;
    padding: 5px;
}
.stream .gallery {
    margin: 0 5px 0 55px;
    text-align: center;
    background: #eee;
}
.stream .gallery a.thumbnail {
    display: inline-block;
    float: none;
    background: white;
}
.stream .entry .message .body {
    margin: 0 5px 5px;
}
.stream .entry .message {
    margin: 3px 5px 0px 55px;
    border: 1px solid #eee;
}
.stream .entry .remove {
    position: absolute;
    right: 10px;
    top: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
	cursor: pointer;
}
.stream .entry {
    position: relative;
}
.stream .entry .comments {
    margin-left: 55px;
    background: #eee;
    padding: 0px;
    margin-right: 5px;
	font-size: 12px;
}
.stream .entry .profile_link {
	display: inline-block;
	cursor: pointer;
}
.comments .fullname {
    font-weight: bold;
    float: left;
    margin: 0 5px 0 0;
}
.entry .input_comment {
width: 516px;
resize: none;
margin-top: 5px;
margin-bottom: 0;
}
.stream .entry .write_comment {
    margin: 0 5px 0 55px;
    background: #eee;
    padding: 0 5px 5px;
}
.stream .comments .comment {
margin-top: 0px;
position: relative;
padding-left: 8px;
}
.mini_profile_wrapper {
    font-weight: normal;
}
.mini_profile_wrapper .info {
    margin-left: 89px;
	font-size: 12px;
}
.mini_profile_wrapper img {
    float: left;
}
.mini_profile_wrapper .profile_link {
    color: #46a;
}
.mini_profile_wrapper .profile_link strong {
    font-size: 14px;
}
.mini_profile_wrapper .profile_link {
    cursor: pointer;
}
#main-menu {
    float: left;
    list-style: none;
    margin-top: 10px;
}
#main-menu li {
    float: left;
    background: rgba(255,255,255,0.6);
    border-radius: 9px;
    padding: 3px 7px;
    margin-right: 5px;
}
#main-menu li.active{
	background: #fff;
}
#main-menu li a {
    font-size: 12px;
    font-weight: bold;
    color: #58c;
    text-decoration: none;
}
#stage .user_column {
    margin: 0 5px 0 0;
    width: 250px;
    text-align: center;
    float: left;
}
.user_column #profile_name h1 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.user_column #profile_address {
    font-size: 11px;
    font-style: italic;
}
#stage .info_column {
    width: 500px;
    float: left;
}
.user_column #profile_pic {
width: 150px;
margin: 0 auto;
}
.user_column button {
width: 150px;
margin-top: 2px;
position: relative;
font-size: 12px;
text-align: right;
padding-right: 36px;
}
.user_column button i {
position: absolute;
right: 10px;
top: 6px;
}
.info_column #info_container {
margin-top: 7px;
}
#info_container .entry .input_comment {
    width: 416px;
}
#wrapper .advertisements {
    position: absolute;
    width: 160px;
    top: 0px;
    left: 610px;
	height: 300px
}
#search-result .member {
    margin: 5px 0 0 5px;
    float: left;
    background: #eee;
    padding: 5px;
}
#search-result .member .info {
    width: 188px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}